.board-container {
	margin: 15px auto;
}
#login {
	display: none;
}

.in-check {
	box-shadow: inset 0 0 50px 0px #be0000;
}

.is-valid {
	box-shadow: inset 0 0 20px rgba(0, 117, 0, 0.59);
}
.board-b72b1 {
	position: relative;
}