.minimize {
	@extend .close;
	margin-right: 5px;
}

.panel.window {
	position: absolute;
	z-index: 100;
}

.draggable.panel .panel-title {
	cursor: default;
}

.window > .resizable {
	position: relative;
	height: auto;
	display: inline-block;
}

.window > .resizable > .scrollable {
	overflow: hidden;
	overflow-y: auto;
	height: 100%;
}
