.minimize {
	@extend .close;
	margin-right: 5px;
}

.panel.window {
	position: absolute;
	z-index: 98;
}

.draggable.panel .panel-title {
	cursor: default;
}
.panel .list-group .list-group-item {
    border-width: 1px 0;
    border-radius: 0;
}

.window > .resizable {
	position: relative;
	height: auto;
	display: inline-block;
}

.window > .resizable > .scrollable {
	overflow: hidden;
	overflow-y: auto;
	height: 100%;
}
